<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="admin_sidebar">
    <aside class="col-lg-2 col-md-3 d-none d-md-block bg-body-tertiary border-end sidebar-sticky p-0">
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" th:href="@{/admin/dashboard}">
                <i class="bi bi-speedometer2"></i> Bảng điều khiển
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/category/index}">
                <i class="bi bi-tags"></i> Danh mục
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/product/index}">
                <i class="bi bi-box-seam"></i> Sản phẩm
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/order/index}">
                <i class="bi bi-receipt"></i> Đơn hàng
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/account/index}">
                <i class="bi bi-people"></i> Tài khoản
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/revenue}">
                <i class="bi bi-graph-up-arrow"></i> Doanh thu
            </a>
            <a class="list-group-item list-group-item-action" th:href="@{/admin/vip}">
                <i class="bi bi-star-fill"></i> Khách hàng VIP
            </a>
        </div>
    </aside>
</th:block>
</html>
